<script>
import GenresPie from './SummaryGenres.vue';

export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  render () {
    const data = this.data;

    return (
      <div>
        <div>{Math.round(data.totalRuntime / 60)} hours of movies</div>
        <div style="width: 400px">
          <GenresPie
            totalCount={data.titlesCount}
            data={data.genres}
          />
        </div>
        <pre>{JSON.stringify(this.data, null, 4)}</pre>
      </div>
    );
  },
};
</script>

<style lang="scss" module>
.summary {}
</style>
