<script>
const d3 = require('d3-shape');
import { genreColors } from '../constants.js';

export default {
  props: {
    data: {
      type: Array,
      required: true,
    },
    totalCount: {
      type: Number,
      required: true,
    },
  },
  data () {
    return {
      size: 0,
      activeGenre: null,
    };
  },
  computed: {
    radius () {
      return this.size / 2 - 2 * this.$style.padding;
    },
    pie () {
      return d3.pie()
        .value(d => d.count)
        .sort(null)(this.data)
      ;
    },
    arc () {
      return d3.arc()
        .innerRadius(this.radius / 1.5)
        .outerRadius(this.radius)
      ;
    },
  },
  mounted () {
    const rect = this.$el.getBoundingClientRect();

    this.size = rect.width + 2 * this.$style.padding;
  },
  render () {
    const style = this.$style;

    if (!this.size) {
      return <div />;
    }

    return (
      <div class={style.chart}>
        <svg
          viewBox={`0 0 ${this.size} ${this.size}`}
          onMouseleave={() => this.activeGenre = null}
        >
          <g transform={`translate(${this.radius + 2 * style.padding}, ${this.radius + 2 * style.padding})`}>
            {this.pie.map(p => (
              <path
                key={this.data.name}
                class={style.chart__arc}
                d={this.arc(p)}
                fill={genreColors[p.data.name]}
                tabindex="0"
                onFocus={() => this.activeGenre = p}
                onMouseenter={() => this.activeGenre = p}
              />
            ))}
            {this.activeGenre ? (
              <path
                key={`activeArc_${this.activeGenre.data.name}`}
                d={this.arc(this.activeGenre)}
                fill={genreColors[this.activeGenre.data.name]}
                fill="#ffffff"
                fill-opacity=".2"
                stroke="#343434"
                stroke-width="4"
              />
            ) : null}
          </g>
        </svg>
      </div>
    );
  },
};
</script>

<style lang="scss" module>
$padding: 8;

.chart {
  margin: #{-$padding + 'px'};
  padding: #{-$padding + 'px'};

  &__arc {
    &:focus {
      outline: none;
    }
  }
}

:export {
  padding: $padding;
}
</style>
