<script>
import * as api from './api.js';
import Summary from './components/Summary.vue';

export default {
  data () {
    return {
      isFetching: false,
      data: {},
    };
  },
  async created () {
    this.isFetching = true;

    const [summary, decades, titles] = await Promise.all([
      api.fetchSummaryStats(),
      api.fetchDecadesStats(),
      api.fetchTitles(),
    ]);

    this.data = {
      summary: Object.freeze(summary),
      decades: Object.freeze(decades),
      titles: Object.freeze(titles),
    };

    this.isFetching = false;
  },
  render () {
    return (
      <div id="app">
        {this.isFetching ? (
          <div
            key="app__preloader"
            class="preloader"
          >Loading data...</div>
        ) : (
          <div
            key="app__content"
            class="app"
          >
            <h1>Woody Allen</h1>
            <Summary data={this.data.summary} />
          </div>
        )}
      </div>
    );
  },
}
</script>

<style lang="scss">
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  color: #343434;
  cursor: default;
  font-family: Helvetica, Arial, sans, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1024px;
  margin: 0 auto;
}
</style>
